*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 2em;
    display: flex;
    background-color: #eee;
}
.gallery ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em
}
.gallery li{
    flex: 0 0 30em;
    align-items: center;
    display: flex;
    border: 1.5em solid #000;
}
.gallery ul li img{
    display: block;
    height: auto;
    width: 100%;
    padding: 1em;
    
}