.site-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.site-navigator{
    flex: 1 1 100%;
    padding-bottom: 3.2em;
}
.site-section .site-navigator ul{
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    gap: 6em;
}
.site-section .site-navigator ul li{
    display: block;
}
.site-section .site-navigator ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
}

.first-article{
    padding-top: 4em;
    margin: 0 auto;
    text-align: center;
}
.first-article h2{
    color: #fff;
    letter-spacing: 0.4em;
    padding-bottom: 1em;
}
.first-article p{
    margin: 0 auto;
    color: #fff;
    width: 28em;
    padding-bottom: 2em;
}
.first-article a{
    margin: 0 auto;
    background-color: #D01919;
    text-decoration: none;
    padding: 0.5em 1.5em;
    border-radius: 0.3em;
    color: #fff;
}