.section-five{
    display: flex;
    flex-wrap: nowrap;
}
.section-five .content{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 38em;
}
.section-five .content h3{
    padding-bottom: 1em;
}
.section-five .content input{
    padding: 1.5em 2em;
    width: 15em;
    color: #000;
    font-weight: bold ;
    border-radius: 5px;
    margin-bottom:2em;
}
.section-five .content .button{
    padding-top: 2em;
}
.section-five .content .button a{
    background-color: #000;
    color:#fff;
    padding: 1.5em 4em;
    border-radius: 10px;
    text-decoration: none;
}
.section-five .content p{
    padding-bottom: 1.5em;
}
.section-five img{
    padding-top: 7em;
    display: block;
    width: 50%;
    height: auto;
}